<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-calendar 
    [(ngModel)]="date"
    (change)="onChange($event)"
    [type]="type"
    [format]="'YYYY-MM-DD'"
    >
  </ion-calendar>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><a routerLink="/meal"><ion-img src="../../../assets/icon/bottle.png"></ion-img></a>Repas</ion-col>
        <ion-col><a routerLink="/diary"><ion-img src="../../../assets/icon/book.png"></ion-img></a>Journal</ion-col>
        <ion-col><a routerLink="/calendar"><ion-img src="../../../assets/icon/calendar.png"></ion-img></a>Calendrier</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>