<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;"> Bienvenu </h2>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" style="margin-top: 20%;">
    <ion-item>
      <ion-label position="floating">mail :</ion-label>
      <ion-input ngModel name="mail"type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">password :</ion-label>
      <ion-input ngModel name="password" type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" style="margin-top: 10%;">Valider</ion-button>
  </form>
  <div>
    <p style="text-align: center;">
      <a routerLink="/subscription">S'inscrire</a>
    </p>

    </div>
</ion-content>
