<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Repas de {{babyName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>Dernier Repas :</ion-col>
        </ion-row >
        <ion-row style="font-size: 85%;" class="ion-text-center">
          <ion-col>
            <ion-img src="../../../assets/icon/{{meal[0].meal_type}}.png" style="height: 85%; width: 85%;"></ion-img>
          </ion-col>
          <ion-col >Heure: <br> <span>{{meal[0].meal_date | date:'HH:mm'}} </span></ion-col>
          <ion-col>Quantiter: <br><span>{{meal[0].meal_qte}}ml </span></ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3"><img src="../../../assets/icon/bluetooth1.png" style="size: 200%;">
        </ion-col>
        <ion-col size="9" style="font-size: 100%; text-align: center;">Récuperation des données du repas</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid style="margin: 5%">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button (click)="presentModal()">Saisie manuelle</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><a routerLink="/meal"><ion-img src="../../../assets/icon/bottle.png"></ion-img></a>Repas</ion-col>
        <ion-col><a routerLink="/diary"><ion-img src="../../../assets/icon/book.png"></ion-img></a>Journal</ion-col>
        <ion-col><a routerLink="/calendar"><ion-img src="../../../assets/icon/calendar.png"></ion-img></a>Calendrier</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>