.left {
 margin-left: 3%;
 margin-top: -3%;
}
.right {
 margin-right: 3%;
 margin-top: -3%;
}

.circle {
    border-radius: 50%;

}

.text {
    text-align: center;
    font-size: 60%;
}

span{
    font-weight: bold;
    font-size: 75%;
}